@page "/catalog-honeys"

@inject IDbContextFactory<MeoDbContext> Factory
@inject BasketService BasketService
@inject AuthenticationStateProvider AuthStateProvider
@inject ISnackbar Snackbar

<PageTitle>Maison eau d'or - Articles</PageTitle>

<MudContainer Class="px-16" Style="min-height: 50vh;" MaxWidth="MaxWidth.ExtraLarge">
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudText Align="Align.Left" Typo="Typo.h4">
                <b>La Miellerie</b>
            </MudText>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudStack Row>
                <MudSpacer/>
                <MudSelect T="string" ValueChanged="@ToggleFilter" MultiSelection="false" Class="flex-grow-0" Style="max-width: 220px; min-width: 220px;" @bind-Text="_selectedFilter"
                           Variant="Variant.Outlined" Label="Filtrer" Adornment="Adornment.Start" AdornmentIcon="@Icons.FilterAlt" AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem Value="@("all")">Tous</MudSelectItem>
                    <MudSelectItem Value="@("A-Z")">A-Z</MudSelectItem>
                    <MudSelectItem Value="@("Z-A")">Z-A</MudSelectItem>
                    <MudSelectItem Value="@("ascending")">Prix croissant</MudSelectItem>
                    <MudSelectItem Value="@("descending")">Prix décroissant</MudSelectItem>
                </MudSelect>
            </MudStack>
        </MudItem>
    </MudGrid>
    <MudGrid Class="my-5" Spacing="5" Justify="Justify.Center">
        @foreach (var honey in _filteredProducts)
        {
            <MudItem Class="mt-5" xs="12" sm="6" md="4" lg="3">
                <MudCard Elevation="0">
                    <MudCardContent>
                        <MudStack Row="false" Justify="Justify.Center">
                            <MudLink Href="@($"/product/{honey.Id}")">
                                <div class="mx-auto d-block" style="height: 282px; width: 282px; position: relative; overflow: hidden;">
                                    <img class="highlights mx-auto" src="@honey.ImagePath" alt="@honey.Name"/>
                                </div>
                            </MudLink>
                        </MudStack>
                        <MudText Class="mt-2" Align="Align.Center" Typo="Typo.h4"><b>@honey.Name</b></MudText>
                        <MudText Align="Align.Center" Typo="Typo.body1">@honey.Price.ToString("C")</MudText>
                        <MudStack Row Justify="Justify.Center">
                            <MudButton Class="my-2 px-16" Variant="Variant.Outlined" Style="border-radius: 0!important;" Color="Color.Dark" OnClick="@(async() => await AddToBasket(honey))">
                                Ajouter au panier
                            </MudButton>
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
</MudContainer>

@code {

    [CascadingParameter(Name = "MainLayoutInstance")]
    public MainLayout MainLayout { get; set; } = null!;

    private MeoDbContext _context = null!;
    private UserSession? _currentUser;
    private List<ProductModel> _honeys = new();
    private List<ProductModel> _filteredProducts = new();

    private string _selectedFilter = "Tous";

    protected override async Task OnInitializedAsync()
    {
        _context = await Factory.CreateDbContextAsync();
        _honeys = _context.Products.Where(x => x.Category == ProductCategory.Honey && x.IsAvailable).ToList();
        foreach (var product in _honeys)
        {
            product.Options = _context.Options.Where(x => x.ProductID == product.Id).ToList();
        }
        _filteredProducts = _honeys.ToList();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authService = (AuthenticationService)AuthStateProvider;
            _currentUser = await authService.GetCurrentUserAsync();
        }
    }

    private async Task AddToBasket(ProductModel product)
    {
        if (_currentUser != null && _currentUser.Role != UserRole.Guest)
        {
            var user = _context.UserAccounts.FirstOrDefault(x => x.Email == _currentUser.Email);
            if (user != null)
            {
                if (product.AmountInStock > 0)
                {
                    var basketProduct = new BasketProductModel
                    {
                        ProductID = product.Id,
                        ClientID = user.Id,
                        ProductAmount = 1,
                        Option = product.Options.FirstOrDefault()?.Name
                    };

                    var added = await BasketService.TryAddToBasketAsync(basketProduct, product);
                    if (added > -1)
                    {
                        Snackbar.Add($"il ne reste que {added} {product.Name} en stock.", Severity.Warning);
                    }
                }
                else
                {
                    Snackbar.Add("Ce produit est actuellement hors stock...\nNe vous en faites pas, il revient très vite !", Severity.Warning);
                }
            }
        }
        else
        {
            Snackbar.Add("Vous devez vous connecter pour effectuer un achat !", Severity.Error);
        }
    }

    private void ToggleFilter(string value)
    {
        _selectedFilter = value;
        _filteredProducts = value switch
        {
            "all" => _honeys.ToList(),
            "A-Z" => _honeys.OrderBy(x => x.Name).ToList(),
            "Z-A" => _honeys.OrderByDescending(x => x.Name).ToList(),
            "ascending" => _honeys.OrderBy(x => x.Price).ToList(),
            "descending" => _honeys.OrderByDescending(x => x.Price).ToList(),
            _ => _filteredProducts
            };
        StateHasChanged();
    }
}