@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider

<header>
    <MudStack Justify="Justify.SpaceBetween" Row="true" AlignItems="AlignItems.Center" Class="flex-wrap">
        <div class="d-flex justify-content-start flex-1">
            <MudIconButton Icon="@_burger" Color="Color.Dark" Size="Size.Large" OnClick="@Toggle" id="burger"/>
        </div>
        <MudLink Href="/">
            <MudImage Src="images/logo.png" Alt="Maison Eau D'or" Height="76"></MudImage>
        </MudLink>
        <div id="toolbar" class="d-flex justify-content-end flex-1">
            <MudToolBar>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <MudIconButton Icon="@Icons.AdminPanelSettings" Color="Color.Secondary" Class="ml-4" Href="/admin-panel"/>
                    </Authorized>
                </AuthorizeView>
                <MudIconButton Icon="@Icons.Search" Color="Color.Dark"/>
                <MudIconButton Icon="@Icons.Person" Color="Color.Dark" OnClick="@CheckUserSession"/>
                @if (_currentUser != null && _basketCount > 0)
                {
                    <MudBadge Overlap Color="Color.Primary" Content="@_basketCount">
                        <MudIconButton OnClick="@(() => ToggleDrawer())" Icon="@Icons.ShoppingCart" Color="Color.Dark"/>
                    </MudBadge>
                }
                else
                {
                    <MudIconButton OnClick="@(() => ToggleDrawer())" Icon="@Icons.ShoppingCart" Color="Color.Dark"/>
                }
            </MudToolBar>
        </div>
    </MudStack>
    <nav style="@_style" class="navbar">
        <div class="dropdown-div">
            <button onclick="@(() => Open(0))" class="dropbtn">
                Parfums
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content @(_isOpen[0] ? "show" : "")">
                <a Href="#">Le Bar à parfums</a>
                <a Href="#">Les Evasions Gourmandes</a>
            </div>
        </div>
        <a Href="#">Maison</a>
        <a Href="#">Muscs Tahara intime</a>
        <a Href="#">Cosmétiques</a>
        <div class="dropdown-div">
            <button onclick="@(() => Open(1))" class="dropbtn">
                Brumes
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content @(_isOpen[1] ? "show" : "")">
                <a Href="#">Brumes RP</a>
                <a Href="#">Brumes Gris Montaigne</a>
            </div>
        </div>
        <div Class="dropdown-div">
            <button onclick="@(() => Open(2))" class="dropbtn">
                Produits Capillaire
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content @(_isOpen[2] ? "show" : "")">
                <a Href="#">KeraQueens</a>
                <a Href="#">Rose Baie</a>
                <a Href="#">RedOne</a>
            </div>
        </div>
    </nav>
    <BasketDrawer @ref="_drawer"/>
</header>

@code
{
    private UserSession? _currentUser;
    private BasketDrawer _drawer = new();
    private int _basketCount = 0;

    private bool[] _isOpen = new bool[3];
    private string _burger = Icons.Menu;
    private string? _style;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authService = (AuthenticationService)AuthStateProvider;
            _currentUser = await authService.GetCurrentUserAsync();
            _drawer.CurrentUser = _currentUser;
        }
    }

    public async Task RefreshUserSession()
    {
        if (AuthStateProvider != null)
        {
            var authService = (AuthenticationService)AuthStateProvider;
            _currentUser = await authService.GetCurrentUserAsync();
            _drawer.CurrentUser = _currentUser;
        }
    }

    public void RefreshBasketCount(int count) => _basketCount = _currentUser != null ? count : 0;

    private void CheckUserSession()
    {
        if (_currentUser != null && _currentUser.Role != UserRole.Guest)
        {
            NavManager.NavigateTo("/profile");
        }
        else
        {
            NavManager.NavigateTo("/signin");
        }
    }

    private void ToggleDrawer(bool toggle = true)
    {
        _ = _drawer.ToggleDrawer(toggle);
    }

    private void Open(int num)
    {
        for (int i = 0; i < _isOpen.Length; i++)
        {
            _isOpen[i] = (i == num && !_isOpen[i]);
        }
    }

    private void Toggle()
    {
        if (_burger == Icons.Menu)
        {
            _burger = Icons.Close;
            _style = "display:flex;";
        }
        else
        {
            _burger = Icons.Menu;
            _style = "";
        }
    }
}