@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthStateProvider
@inject BasketService BasketService
@inject LocalizationService Lang

<header class="mb-16">
    <MudStack Justify="Justify.SpaceBetween" Row="true" AlignItems="AlignItems.Center" Class="flex-wrap">
        <div class="d-flex justify-content-start flex-1">
            <MudIconButton Icon="@_burger" Color="Color.Dark" Size="Size.Large" OnClick="@Toggle" id="burger"/>
            <MudMenu Class="ml-8" Label="@SelectedLanguageText" AnchorOrigin="Origin.BottomLeft" DisableElevation DisableRipple
                     Variant="Variant.Filled" PopoverClass="custom-popover">
                @foreach (var lang in Enum.GetValues<Language>())
                {
                    @if (lang != SelectedLanguage)
                    {
                        <MudMenuItem Class="px-5" Style="padding-top: -4px!important; padding-bottom: -4px!important;" OnClick="@(() => RefreshLangAsync(lang))">@lang.ToString()</MudMenuItem>
                    }
                }

            </MudMenu>
        </div>
        <MudLink Href="/">
            <MudImage Src="images/logo.png" Alt="Maison Eau D'or" Class="logo"></MudImage>
        </MudLink>
        <div id="toolbar" class="d-flex justify-content-end flex-1">
            <MudToolBar>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <MudTooltip Class="ml-4" Text="Panel d'administration" Arrow>
                            <MudIconButton Icon="@Icons.AdminPanelSettings" Color="Color.Secondary" Class="ml-4" Href="/admin-panel"/>
                        </MudTooltip>
                    </Authorized>
                </AuthorizeView>
                <MudIconButton Icon="@Icons.Search" Color="Color.Dark"/>
                <MudIconButton Icon="@Icons.Person" Color="Color.Dark" OnClick="@CheckUserSession"/>
                @if (_currentUser != null && _basketCount > 0)
                {
                    <MudBadge Content="@_basketCount" Overlap Color="Color.Dark" Bordered Origin="Origin.TopRight">
                        <MudIconButton OnClick="@(async () => await ToggleDrawerAsync())" Icon="@Icons.ShoppingCart" Color="Color.Dark"/>
                    </MudBadge>
                }
                else
                {
                    <MudIconButton OnClick="@(async () => await ToggleDrawerAsync())" Icon="@Icons.ShoppingCart" Color="Color.Dark"/>
                }
            </MudToolBar>
        </div>
    </MudStack>
    <nav style="@_style" class="navbar">
        <div class="dropdown-div">
            <button onclick="@(() => Open(0))" class="dropbtn">
                Parfums
                <i class="ml-3 fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content @(_isOpen[0] ? "show" : "")">
                <a href="/catalog-perfumes">Le Bar à parfums</a>
                <a href="/catalog-gourmets">Les Evasions Gourmandes</a>
            </div>
        </div>
        <a href="/catalog-homes">Maison</a>
        <a href="/catalog-musks">Muscs Tahara intime</a>
        <a href="/catalog-cosmetics">Cosmétiques</a>
        <a href="/catalog-mists">Brumes</a>
        <a href="/catalog-hairproducts">Produits capillaire</a>
    </nav>
    <CascadingValue Name="MainHeaderInstance" Value="@this">
         <BasketDrawer @ref="_drawer"/>
    </CascadingValue>
</header>

@code
{
    private UserSession? _currentUser;
    private BasketDrawer _drawer = new();
    private Language SelectedLanguage { get; set; }
    private string SelectedLanguageText { get; set; } = null!;
    private int _basketCount;

    private bool[] _isOpen = new bool[3];
    private string _burger = Icons.Menu;
    private string? _style;

    protected override void OnInitialized()
    {
        LoadLanguage();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authService = (AuthenticationService)AuthStateProvider;
            _currentUser = await authService.GetCurrentUserAsync();
            _drawer.CurrentUser = _currentUser;
            LoadLanguage();
            await RefreshBasketCountAsync();
        }
    }

    private void LoadLanguage()
    {
        SelectedLanguage = Lang.GetCurrentLanguage();
        SelectedLanguageText = SelectedLanguage.ToString();
    }

    public async Task RefreshUserSession()
    {
        if (AuthStateProvider != null)
        {
            var authService = (AuthenticationService)AuthStateProvider;
            _currentUser = await authService.GetCurrentUserAsync();
            _drawer.CurrentUser = _currentUser;
        }
    }

    private void CheckUserSession()
    {
        if (_currentUser != null && _currentUser.Role != UserRole.Guest)
        {
            NavManager.NavigateTo("/profile");
        }
        else
        {
            NavManager.NavigateTo("/signin");
        }
    }

    private async Task ToggleDrawerAsync(bool toggle = true)
    {
        await _drawer.ToggleDrawer(toggle);
    }

    public async Task RefreshBasketCountAsync()
    {
        if (_currentUser != null)
        {
            _basketCount = await BasketService.GetBasketCountAsync(_currentUser);
            StateHasChanged();
        }
    }

    private async Task RefreshLangAsync(Language lang)
    {
        await Lang.SetLanguage(Lang.GetLanguageText(lang));
        SelectedLanguage = lang;
        SelectedLanguageText = lang.ToString();
        StateHasChanged();
    }

    private async Task LangChangedAsync(Language lang)
    {
        await Lang.SetLanguage(Lang.GetLanguageText(lang));
        SelectedLanguage = Lang.GetCurrentLanguage();
        SelectedLanguageText = SelectedLanguage.ToString();
        StateHasChanged();
    }

    private void Open(int num)
    {
        for (int i = 0; i < _isOpen.Length; i++)
        {
            _isOpen[i] = (i == num && !_isOpen[i]);
        }
    }

    private void Toggle()
    {
        if (_burger == Icons.Menu)
        {
            _burger = Icons.Close;
            _style = "display:flex;";
        }
        else
        {
            _burger = Icons.Menu;
            _style = "";
        }
    }
}