@inject IDbContextFactory<MeoDbContext> Factory
@inject BasketService BasketService
@inject NavigationManager NavManager
@inject ISnackbar Snackbar

<MudDrawer @bind-Open="_toggleDrawer" Anchor="Anchor.End" Elevation="1" Variant="DrawerVariant.Temporary" Width="400px" Height="100%">
    <MudDrawerHeader>
        <MudIconButton Class="absolute mt-n1 ml-n2" Icon="@Icons.ArrowForwardIos" OnClick="@(() => ToggleDrawer(false))" Color="Color.Dark"/>
        <MudStack Class="flex-grow-1" Row="false">
            <MudText Typo="Typo.h6" Align="Align.Center">Panier</MudText>
            <MudDivider Style="border-color: black!important;"/>
        </MudStack>
    </MudDrawerHeader>
    <MudDrawerContainer Style="height: 100%!important;">
        @if (CurrentUser is null)
        {
            <MudStack Style="height: 100%" Row="false" Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudText>Vous n'êtes pas connecté !</MudText>
                <MudLink Href="/signin" Underline="Underline.Hover">Cliquez ici pour vous connecter</MudLink>
            </MudStack>
            return;
        }

        @if (_basketProducts.Any())
        {
            <MudStack Class="mt-2 px-2" Style="overflow-y: scroll; padding-bottom: 140px!important;" Spacing="2" Row="false">
                @foreach (var product in _basketProducts)
                {
                    <MudStack Class="px-2" Row>
                        <MudStack Row="false">
                            <MudImage Src="@product.Product!.ImagePath" Alt="@product.Product!.Name" Width="90" Height="90"/>
                        </MudStack>
                        <MudStack Class="flex-grow-1" Row="false">
                            <MudStack Class="mt-n2" Row AlignItems="AlignItems.Center">
                                <MudText Align="Align.Left" Typo="Typo.h6">
                                    <b>@product.Product!.Name</b>
                                </MudText>
                                <MudSpacer/>
                                <MudIconButton Icon="@Icons.Delete" Color="Color.Dark" OnClick="@(async () => await DeleteFromBasketAsync(product))"/>
                            </MudStack>
                            <MudStack Class="mt-n2" Row="false">
                                <MudStack Row AlignItems="AlignItems.Center">
                                    <MudText Typo="Typo.caption" Align="Align.Left">
                                        <b>OPTION:</b>
                                    </MudText>
                                    <MudText Typo="Typo.caption" Align="Align.Left">@product.OptionText</MudText>
                                    <MudSpacer/>
                                    <MudText>
                                        <b>@product.TotalPrice.ToString("C")</b>
                                    </MudText>
                                </MudStack>
                            </MudStack>
                            <MudStack Row Justify="Justify.FlexEnd">
                                <MudPaper Class="px-4 py-2" Elevation="0" Outlined>
                                    <MudNumericField T="int" @bind-Value="@product.ProductAmount" IconSize="Size.Small" Variant="Variant.Text" Label="Quantité"
                                                     Style="max-width: 90px;" Step="1" Min="1" For="@(() => product.ProductAmount)" Adornment="Adornment.End" AdornmentIcon="@Icons.ShortText"
                                                     OnBlur="@(async () => await UpdateBasketProduct(product))" HideSpinButtons DisableUnderLine/>
                                </MudPaper>
                            </MudStack>
                        </MudStack>
                    </MudStack>
                    @if (_basketProducts.Last() != product)
                    {
                        <MudStack Class="px-10" Row Justify="Justify.Center">
                            <MudDivider Class="my-2 align-self-center" Style="border-color: black!important;"/>
                        </MudStack>
                    }
                }
            </MudStack>
            <MudStack Class="fixed" Style="bottom: 0; width: 400px; background-color: #dcdcdc;" Row="false">
                <MudExpansionPanels Elevation="0">
                    <MudExpansionPanel Text="Informations" Style="background-color: #eeeeee;">
                        <MudTextField T="string" @bind-Value="_comment" Class="mb-4" Lines="3" MaxLength="300" Variant="Variant.Outlined"
                                      Placeholder="Ajouter une remarque pour le commerçant (optionnel)"/>
                        <MudDivider Style="border-color: black!important;"/>
                        <MudStack Class="my-2" Row>
                            <MudText Align="Align.Left">Coût total <span class="mud-typography-caption">(Hors taxes)</span></MudText>
                            <MudSpacer/>
                            <MudText Align="Align.Right">@_basketProducts.Total().ToString("C")</MudText>
                        </MudStack>
                        <MudDivider Style="border-color: black!important;"/>
                        <MudStack Class="my-2" Row>
                            <MudText Align="Align.Left">Livraison</MudText>
                            <MudSpacer/>
                            <MudText Align="Align.Right">calculé au paiement</MudText>
                        </MudStack>
                        <MudDivider Style="border-color: black!important;"/>
                        <MudStack Class="mt-2" Row>
                            <MudText Align="Align.Left">
                                <b>Total</b>
                            </MudText>
                            <MudSpacer/>
                            <MudText Align="Align.Right">
                                <b>@_basketProducts.TotalWithTva().ToString("C")</b>
                            </MudText>
                        </MudStack>
                        <MudStack>
                            <MudText Typo="Typo.body2" Align="Align.Left">dont TVA : @_basketProducts.TotalTva().ToString("C")</MudText>
                        </MudStack>
                    </MudExpansionPanel>
                </MudExpansionPanels>
                <MudStack Class="px-6 pb-4" Row Justify="Justify.Center">
                    <MudButton Color="Color.Dark" Variant="Variant.Filled" FullWidth OnClick="@(async () => await ValidateOrder())">
                        Payer @_basketProducts.TotalWithTva().ToString("C")
                    </MudButton>
                </MudStack>
            </MudStack>
        }
        else
        {
            <MudStack Style="height: 100%" Row="false" Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudText Align="Align.Center">Votre panier est vide...</MudText>
                <MudLink Href="/catalog-perfumes" Underline="Underline.Hover">Découvrez nos produits</MudLink>
            </MudStack>
        }
    </MudDrawerContainer>
</MudDrawer>

@code {
    [CascadingParameter(Name = "MainHeaderInstance")]
    public MainHeader MainHeader { get; set; } = null!;
    
    public UserSession? CurrentUser { get; set; }
    private List<BasketProductModel> _basketProducts = new();

    private bool _toggleDrawer;

    // Not bind for now, optional
    private string _comment = string.Empty;

    public async Task RefreshBasketAsync()
    {
        if (CurrentUser != null)
        {
            _basketProducts = await BasketService.GetBasketProductsAsync(CurrentUser);
        }
        StateHasChanged();
    }

    private async Task DeleteFromBasketAsync(BasketProductModel product)
    {
        await BasketService.RemoveBasketProductAsync(product);
        await RefreshBasketAsync();
        await MainHeader.RefreshBasketCountAsync();
    }

    private async Task UpdateBasketProduct(BasketProductModel product)
    {
        var amount = product.ProductAmount;
        if (amount > product.Product!.AmountInStock)
        {
            product.ProductAmount = product.Product.AmountInStock;
            Snackbar.Add($"Il ne reste que {product.ProductAmount} {product.Product.Name} en stock.", Severity.Warning);
        }
        await BasketService.UpdateBasketProductAsync(product);
        await RefreshBasketAsync();
        await MainHeader.RefreshBasketCountAsync();
    }

    private async Task ValidateOrder()
    {
        if (CurrentUser != null)
        {
            var context = await Factory.CreateDbContextAsync();
            var user = context.UserAccounts.AsNoTracking().FirstOrDefault(x => x.Email == CurrentUser.Email);
            if (user != null)
            {
                var order = new OrderModel
                {
                    ClientID = user.Id,
                    Total = _basketProducts.TotalWithTva(),
                    OrderedAt = DateTime.Now
                };
                context.Orders.Add(order);
                foreach (var product in _basketProducts)
                {
                    product.OrderID = order.Id;
                }
                context.BasketProducts.UpdateRange(_basketProducts);
                await context.SaveChangesAsync();
                await RefreshBasketAsync();
                NavManager.NavigateTo($"/order/{order.Id}");
            }
        }
    }

    public async Task ToggleDrawer(bool toggle)
    {
        _toggleDrawer = toggle;
        if (toggle) await RefreshBasketAsync();
    }
}