@page "/cookie-policy"
@inject LocalizationService Lang

<PageTitle>@(Lang.Get("cookiePolicyPageTitle"))</PageTitle>

<MudContainer Class="my-5 mb-16" MaxWidth="MaxWidth.Medium">
        <MudText Typo="Typo.h2"><b>@(Lang.Get("cookiePolicyheader"))</b></MudText>
    
    <MudText Class="mt-6" Typo="Typo.caption">
        @(Lang.Get("cookiePolicylastUpdated"))
    </MudText>
    <MudText Class="mt-6" Typo="Typo.body1">
        @(Lang.Get("cookiePolicyintro"))
    </MudText>
    <MudText Class="mt-6" Typo="Typo.body1">
        @(Lang.Get("cookiePolicykeyPoints"))
    </MudText>
    
    <MudText Class="mt-8" Typo="Typo.h3">
        Que sont les cookies, balises Web et technologies similaires ?
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        @(Lang.Get("cookiePolicycookiesDefinition"))
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        @(Lang.Get("cookiePolicysessionCookies"))
    </MudText>
    
    <MudText Class="mt-8" Typo="Typo.h4">
        @(Lang.Get("cookiePolicysessionCookiesType"))
    </MudText>
    <MudText Typo="Typo.body1">
        @(Lang.Get("cookiePolicysessionCookiesType2"))
    </MudText>
    
    <MudText Class="mt-8">
        @(Lang.Get("cookiePolicysessionCookiesType3"))
    </MudText>
    <MudText>
        <b>@(Lang.Get("cookiePolicySessionCookiesTypeSession"))</b> @(Lang.Get("cookiePolicySessionCookiesTypeSession2"))
    </MudText>
    <MudText Class="mt-4">
        <b>@(Lang.Get("cookiePolicypersistentCookies"))</b> @(Lang.Get("cookiePolicypersistentCookies2"))
    </MudText>
    <MudText Class="mt-4">
        <b>@(Lang.Get("cookiePolicyInternalCookies"))</b>@(Lang.Get("cookiePolicyInternalCookies2"))
    </MudText>
    <MudText Class="mt-4">
        <b>@(Lang.Get("cookiePolicyThirdPartyCookies"))</b>@(Lang.Get("cookiePolicyThirdPartyCookies2"))
    </MudText>
    <MudText Class="mt-4">
        @(Lang.Get("cookiePolicyDisableCookies"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @(Lang.Get("cookiePolicyWebBalise"))
    </MudText>
    <MudText Typo="Typo.body1">
        @(Lang.Get("cookiePolicyWebBeacons"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @(Lang.Get("cookiePolicyOtherTechnologies"))
    </MudText>
    <MudText Typo="Typo.body1">
        @(Lang.Get("cookiePolicyOtherTechnologies2"))
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        @(Lang.Get("cookiePolicyTerminology"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @(Lang.Get("cookiePolicyCookiesUsed"))
    </MudText>
    <MudText Typo="Typo.body1">
        @(Lang.Get("cookiePolicyCookiesUsed2"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @(Lang.Get("cookiePolicyPerformanceCookies"))
    </MudText>
    <MudText Typo="Typo.body1">
        @(Lang.Get("cookiePolicyPerformanceCookies2"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.body1">
        @(Lang.Get("cookiePolicyStats"))
    </MudText>
    
    <MudSimpleTable>
        <thead>
        <tr>
                <th>@(Lang.Get("cookieName"))</th>
                <th>@(Lang.Get("cookieDuration"))</th>
                <th>@(Lang.Get("cookieInternalOrThirdParty"))</th>
        </tr>
        </thead>
        <tbody>
        <tr>
                <td>_ga</td>
                <td>@(Lang.Get("cookiePolicyDuration"))</td>
                <td>@(Lang.Get("cookiePolicyType"))</td>
        </tr>
        <tr>
                <td>_gid</td>
                <td>@(Lang.Get("cookiePolicyDurationGid"))</td>
                <td>@(Lang.Get("cookiePolicyTypeGid"))</td>
        </tr>
        <tr>
                <td>@("_ga_<container-id>")</td>
                <td>@(Lang.Get("cookiePolicyDuration"))</td>
                <td>@(Lang.Get("cookiePolicyType"))</td>
        </tr>
        <tr>
                <td>@("_gac_gb_<container-id>")</td>
                <td>@(Lang.Get("cookiePolicyDurationGac"))</td>
                <td>@(Lang.Get("cookiePolicyType"))</td>
        </tr>
        </tbody>
    </MudSimpleTable>
    
    <MudText Class="mt-6" Typo="Typo.h5">
        @(Lang.Get("cookieAboutPolicyTitle"))
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        @(Lang.Get("cookiePolicyAboutPolicy"))
    </MudText>
    
    <MudText Class="mt-12" Typo="Typo.h3">
        @(Lang.Get("updatePreferencesTitle"))
    </MudText>
    <MudText Class="mt-6" Typo="Typo.body1">
        @(Lang.Get("cookiePolicyUpdatePreferences"))
    </MudText>    
    <MudButton Class="my-4 rounded-0" Color="Color.Dark" Variant="Variant.Outlined">@(Lang.Get("cookiePolicyCookieSettingsButton"))</MudButton>
    <MudText Typo="Typo.body1">
        @(Lang.Get("cookiePolicyContactInfo"))<MudLink Underline="Underline.Always" Color="Color.Dark" Href="/contact">@(Lang.Get("cookiePolicyContactInfo2"))</MudLink>.
    </MudText>
    
</MudContainer>

@code {
    protected override void OnInitialized()
    {
        Lang.LanguageChanged += InvokeStateChanged;
    }

    private async Task InvokeStateChanged(string lang) => await InvokeAsync(StateHasChanged);
}