@page "/"
@using System.Text.RegularExpressions

@inject IDbContextFactory<MeoDbContext> Factory
@inject AuthenticationStateProvider AuthStateProvider
@inject IHttpContextAccessor HttpContextAccessor
@inject LocalizationService Lang
@inject NavigationManager NavManager
@inject BasketService BasketService
@inject ISnackbar Snackbar


<PageTitle>@(Lang.Get("loginPageTitle"))</PageTitle>

<MudContainer Class="mt-n16 px-0" Style="overflow-x: hidden; border-top: 1px solid black;" MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudStack Row>
        <MudImage Style="width: 100vw;" Src="images/home/bar.png" />
    </MudStack>
    @if (_displayedProducts.Any())
    {
    <h2 class="mt-12 text-center title" style="color:#ECC291!important;">@(Lang.Get("homeBestSellersTitle")) </h2>
        <MudGrid Class="my-5" Spacing="5" Justify="Justify.Center" Style="overflow-x: hidden;">
            @foreach (var product in _displayedProducts)
            {
                <MudItem Class="mt-5" xs="12" sm="6" md="4" lg="3">
                    <MudCard Elevation="0">
                        <MudCardContent>
                            <MudStack Row="false" Justify="Justify.Center">
                                <MudLink Href="@($"/product/{product.ProductID}")">
                                    <div class="mx-auto d-block" style="height: 282px; width: 282px; position: relative; overflow: hidden;">
                                        <img class="highlights mx-auto" src="@product.Product!.ImagePath" alt="@product.Product!.Name" />
                                    </div>
                                </MudLink>
                            </MudStack>
                            <MudText Class="mt-2" Align="Align.Center" Typo="Typo.h4"><b>@product.Product!.Name</b></MudText>
                            <MudText Align="Align.Center" Typo="Typo.body1">@product.Product!.Price.ToString("C")</MudText>
                                <MudStack Row Justify="Justify.Center">
                                 <MudButton Class="my-2 px-16" Variant="Variant.Outlined" Style="border-radius: 0!important;" Color="Color.Dark" OnClick="@(async() => await AddToBasket(product.Product!))">
                                     @(Lang.Get("homeAddToCart"))
                                 </MudButton>
                             </MudStack>
                         </MudCardContent>
                     </MudCard>
                 </MudItem>
            }
        </MudGrid>
    }


    <h2 Class="my-8 text-center title" Style="color: #ECC291!important;">@(Lang.Get("homeDiscoverProductsTitle"))</h2>

    @* Caroussel catégories (parfums, sprays intérieur, cosmétiques) *@
    
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <!-- Vos images vont ici -->
            <a class="swiper-slide" href="/catalog-perfumes"><img src="images/home/parfums.png" alt="Parfum"/><span>@(Lang.Get("footer_perfumes"))</span></a>
            <a class="swiper-slide" href="/catalog-mists"><img src="images/home/sprays_interieur.png" alt="Spray" /><span>@(Lang.Get("footer_houses"))</span></a>
            <a class="swiper-slide" href="/catalog-cosmetics"><img src="images/home/cosmetiques.png" alt="Cosmetiques"/><span>@(Lang.Get("footer_cosmetics"))</span></a>
            <a class="swiper-slide" href="/catalog-musks"><img src="images/home/musc_tahara_intime.png" alt="Musc Tahara"/><span>@(Lang.Get("footer_musks"))</span></a>
            <a class="swiper-slide" href="catalog-cosmetics"><img src="images/home/ahlam.png" alt="Cosmetiques" /><span>@(Lang.Get("footer_cosmetics"))</span></a>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            breakpoints: {
                768: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                }
            },
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
      </script>

    @* Description boutique avec photo réduite bar à parfum *@
    <MudPaper Class="px-10 my-16" Elevation="0" Square Style="background-color: #F7E1C7;">
         <MudStack Class="py-8" Row Spacing="9" Justify="Justify.SpaceAround">
             <MudStack Class=" px-10 py-6" Row="false" Style="background-color: #fff;" Justify="Justify.Center">
                 <MudText Typo="Typo.h5" Align="Align.Center">
                     <b>@(Lang.Get("homeTitle"))</b>
                 </MudText>
                 <MudImage Class="mx-auto my-n6" Src="favicon.png" Width="200" />
                 <MudText Align="Align.Center">@(Lang.Get("homeDescription"))</MudText>
                 <MudText Align="Align.Center">@(Lang.Get("homeWelcomeText"))</MudText>
                 <MudText Align="Align.Center">@(Lang.Get("homeOfferingText"))</MudText>
                 <MudSpacer />
                 <MudButton Class="rounded-lg mx-auto mb-8" Style="background-color: #F7E1C7; color: #916043;" OnClick="@(() => NavManager.NavigateTo("/about"))" EndIcon="@Icons.KeyboardArrowRight" Variant="Variant.Filled">
                     @(Lang.Get("homeDdiscoverButton"))
                 </MudButton>
             </MudStack>
             <div class="flex-grow-1 facultatif" style="max-width: 1400px;">
                 <MudImage Src="images/home/bar.png" ObjectFit="ObjectFit.None" Style="height: 100%; width: 100%" />
             </div>
         </MudStack>
     </MudPaper>
 </MudContainer>


 @code {
    [CascadingParameter(Name = "MainLayoutInstance")]
    public MainLayout MainLayout { get; set; } = null;

    private MeoDbContext _context = null!;
    private List<DisplayModel> _displayedProducts = new();

    private UserSession? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        _context = await Factory.CreateDbContextAsync();
        _displayedProducts = _context.DisplayedProducts.Include(x => x.Product).OrderBy(x => x.Index).ToList();
        var culture = HttpContextAccessor.HttpContext!.Request.Headers["Accept-Language"];
        var regex = new Regex(@"\b([a-z]{2}-[a-z]{2}|[a-z]{2}-[a-z]{2})\b", RegexOptions.IgnoreCase);
        var match = regex.Match(culture.ToString()); // Gets first accepted language (preferred)

        if (match.Success)
        {
            await Lang.SetLanguage(match.Value);
        }
        Lang.LanguageChanged += InvokeStateChanged;
    }

    private async Task InvokeStateChanged(string lang) => await InvokeAsync(StateHasChanged);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authService = (AuthenticationService)AuthStateProvider;
            _currentUser = await authService.GetCurrentUserAsync();
            if (_currentUser is null)
            {
                await authService.UpdateAuthenticationState(null);
            }
            if (_context.UserAccounts.All(x => x.Email != "root@admin.meo"))
            {
                _context = await Factory.CreateDbContextAsync();
                _context.UserAccounts.Add(new UserAccount
                    {
                        Firstname = "admin",
                        Lastname = "meo",
                        Email = "root@admin.meo",
                        Password = BC.HashPassword("toor"),
                        Role = UserRole.Admin,
                        DoubleAuth = false
                    });
                await _context.SaveChangesAsync();
            }
        }
    }

    private async Task AddToBasket(ProductModel product)
    {
        if (_currentUser != null && _currentUser.Role != UserRole.Guest)
        {
            var user = _context.UserAccounts.FirstOrDefault(x => x.Email == _currentUser.Email);
            if (user != null)
            {
                if (product.AmountInStock > 0)
                {
                    var basketProduct = new BasketProductModel
                        {
                            ProductID = product.Id,
                            ClientID = user.Id,
                            ProductAmount = 1,
                            Option = product.Options.FirstOrDefault()?.Name
                        };

                    var added = await BasketService.TryAddToBasketAsync(basketProduct, product);
                    if (added > -1)
                    {
                        Snackbar.Add($"il ne reste que {added} {product.Name} en stock.", Severity.Warning);
                    }
                    await MainLayout.RefreshBasketAsync();
                }
                else
                {
                    Snackbar.Add("Ce produit est actuellement hors stock...\nNe vous en faites pas, il revient très vite !", Severity.Warning);
                }
            }
        }
        else
        {
            Snackbar.Add("Vous devez vous connecter pour effectuer un achat !", Severity.Error);
        }
    }
}