@page "/product/{ProductId:guid}"

@inject IDbContextFactory<MeoDbContext> Factory
@inject AuthenticationStateProvider AuthStateProvider
@inject BasketService BasketService
@inject NavigationManager NavManager
@inject ISnackbar Snackbar
@inject LocalizationService Lang

@if (_product is null)
{
    <MudStack Row Justify="Justify.Center">
        <MudProgressCircular Color="Color.Primary" Indeterminate/>
    </MudStack>
    return;
}

<PageTitle>@_productName | @(Lang.Get("productPageTitle"))</PageTitle>

<MudContainer Class="mb-16" MaxWidth="MaxWidth.Large">
    <MudBreadcrumbs Class="ml-4" Items="@_breadCrumbs"/>

    <MudGrid Class="px-6">
        <MudItem xs="12" md="6">
            <MudImage Fluid Src="@_product.ImagePath"/>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudStack Style="max-width: 950px;" Row="false">
                <MudText Typo="Typo.h3" Align="Align.Left" Class="mb-4">
                    <b>@_productName</b>
                </MudText>
                <MudText Typo="Typo.h3" Align="Align.Left" GutterBottom>
                    <b>@_product.Price.ToString("C")</b>
                </MudText>
                <MudStack Class="mb-4" Row>
                    @if (_product.Options.Any())
                    {
                        <MudSelect T="Option?" @bind-Value="_selectedOption" Label=@Lang.Get("productPageLblOption")) Style="border-radius: 0!important;" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var option in _product.Options)
                            {
                                <MudSelectItem Value="@option">@option.Name</MudSelectItem>
                            }
                        </MudSelect>
                    }
                    else
                    {
                        <MudSelect T="string" Text="--" Variant="Variant.Outlined" Style="border-radius: 0!important;" Label="OPTION" Disabled/>
                    }
                    <MudNumericField T="int" Class="flex-grow-0" @bind-Value="_selectedAmount" Min="1" Step="1" Label=@Lang.Get("productPageLblQt")) Variant="Variant.Outlined" Style="border-radius: 0!important;"/>
                </MudStack>
                <div>
                    <MudButton Class="rounded-0 my-2" Style="@($"background-color: {Colors.Grey.Darken4}; color: #fff;")" FullWidth Variant="Variant.Filled" OnClick="@(async() => await ValidateOrderAsync())">@(Lang.Get("productPageBtnBuy"))</MudButton>
                    <MudButton Variant="Variant.Outlined" FullWidth Style="border-radius: 0!important;" OnClick="@(async() => await AddToBasket())">
                         @(Lang.Get("productPageBtnAddCart"))
                        <MudIcon Class="my-auto ml-3" Icon="@Icons.ShoppingCart"/>
                    </MudButton>
                </div>(
                <MudText Class="mb-n2">@(Lang.Get("productPageShare"))</MudText>
                <MudStack Row Justify="Justify.FlexStart">
                    <MudIconButton Color="Color.Dark" Icon="@IconsC.Brands.Facebook"/>
                    <MudIconButton Color="Color.Dark" Icon="@IconsC.Brands.Twitter"/>
                    <MudIconButton Color="Color.Dark" Icon="@IconsC.Brands.Pinterest"/>
                    <MudIconButton Color="Color.Dark" Icon="@Icons.Share"/>
                </MudStack>
                <div>
                    @foreach (var line in _product.Description.Split("\n", StringSplitOptions.RemoveEmptyEntries))
                    {
                        <MudText GutterBottom="false">@line</MudText>
                    }
                </div>
            </MudStack>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [CascadingParameter(Name = "MainLayoutInstance")]
    public MainLayout MainLayout { get; set; } = null!;
    
    [Parameter]
    public Guid ProductId { get; set; }

    private MeoDbContext _context = null!;
    private UserSession? _currentUser;

    private ProductModel? _product;
    private string _productName = "Produit";

    private List<BreadcrumbItem> _breadCrumbs = new();

    private Option? _selectedOption;
    private int _selectedAmount = 1;

    protected override async Task OnInitializedAsync()
    {
        _context = await Factory.CreateDbContextAsync();
        _product = _context.Products.FirstOrDefault(x => x.Id == ProductId);
        if (_product is null)
        {
            Snackbar.Add("Une erreur est survenue, redirection en cours...", Severity.Error);
            NavManager.NavigateTo("/");
            StateHasChanged();
        }
        else
        {
            _product.Options = _context.Options.Where(x => x.ProductID == ProductId).ToList();
            _productName = _product.Name;
            _selectedOption = _product.Options.FirstOrDefault();
            _breadCrumbs = new()
            {
                new("Accueil", href: "/"),
                new($"{_product.Category.Humanize()}", href: $"{_product.Category.ToBreadString()}"),
                new(_productName, href: null, disabled: true)
            };
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authService = (AuthenticationService)AuthStateProvider;
            _currentUser = await authService.GetCurrentUserAsync();
        }
    }
    
    private async Task AddToBasket(Guid orderId = default(Guid))
    {
        if (_product != null)
        {
            if (_currentUser != null && _currentUser.Role != UserRole.Guest)
            {
                var user = _context.UserAccounts.FirstOrDefault(x => x.Email == _currentUser.Email);
                if (user != null)
                {
                    if (_product.AmountInStock > 0)
                    {
                        var basketProduct = new BasketProductModel
                        {
                            ProductID = ProductId,
                            ClientID = user.Id,
                            ProductAmount = _selectedAmount,
                            Option = _selectedOption?.Name
                        };
                        if (orderId != Guid.Empty) basketProduct.OrderID = orderId;

                        var added = await BasketService.TryAddToBasketAsync(basketProduct, _product);
                        if (added > -1)
                        {
                            Snackbar.Add($"il ne reste que {added} {_productName} en stock.", Severity.Warning);
                        }
                        await MainLayout.RefreshBasketAsync();
                    }
                    else
                    {
                        Snackbar.Add("Ce produit est actuellement hors stock...\nNe vous en faites pas, il revient très vite !", Severity.Warning);
                    }
                }
            }
            else
            {
                Snackbar.Add("Vous devez vous connecter pour effectuer un achat !", Severity.Error);
            }
        }
    }
    
    private async Task ValidateOrderAsync()
    {
        if (_currentUser != null && _product != null)
        {
            var context = await Factory.CreateDbContextAsync();
            var user = context.UserAccounts.AsNoTracking().FirstOrDefault(x => x.Email == _currentUser.Email);
            if (user != null)
            {
                var order = new OrderModel
                {
                    ClientID = user.Id,
                    Total = _product.Price * (1 + _product.Tva) * _selectedAmount,
                    OrderedAt = DateTime.Now
                };
                await AddToBasket(order.Id);
                
                context.Orders.Add(order);
                await context.SaveChangesAsync();
                NavManager.NavigateTo($"/order/{order.Id}");
            }
        }
        else
        {
            Snackbar.Add("Vous devez vous connecter pour effectuer un achat !", Severity.Error);
        }
    }
}