@page "/terms-and-conditions"

@inject LocalizationService Lang

<PageTitle>@Lang.Get("termsConditionsPageTitle"))</PageTitle>

<MudContainer Class="my-5 mb-16" MaxWidth="MaxWidth.Medium">
        <MudText Typo="Typo.h2"><b>@Lang.Get("termsConditionsTitle"))</b></MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleIntro"))
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleContactInfo"))
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleSiteUsage"))
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleContractEffect"))
    </MudText>
    <MudText Class="mt-4" Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleOrderGuarantee"))
    </MudText>
    <ol>
        <li><MudText Typo="Typo.body1">@Lang.Get("termsConditionsMinor"))</MudText></li>
            <li><MudText Typo="Typo.body1">@Lang.Get("termsConditionsCoord"))</MudText></li>
            <li><MudText Typo="Typo.body1">@Lang.Get("termsConditionsFalseIdentity"))</MudText></li>
    </ol>
    
    <MudText Class="mt-10" Typo="Typo.h4">
        @Lang.Get("termsConditionsCmd"))
    </MudText>
    <MudText Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleOrderGuarantee"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @Lang.Get("termsConditionsPageTitleOrderGuarantee"))
    </MudText>
    <MudText Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleCancelOrder"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @Lang.Get("termsConditionsAcceptCmd"))
    </MudText>
    <MudText Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleAcceptOrder"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @Lang.Get("termsConditionsDelivery"))
    </MudText>
    <MudText Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleDeliveryOptions"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @Lang.Get("termsConditionsreturnPolitcs"))
    </MudText>
    <MudText Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleReturnPolicy"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @Lang.Get("termsConditionsResponsability"))
    </MudText>
    <MudText Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleLiability"))
    </MudText>
    
    <MudText Class="mt-4" Typo="Typo.h4">
        @Lang.Get("termsConditionsDivisibility"))
    </MudText>
    <MudText Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleSeverability"))
    </MudText>
    <MudText Class="mt-8" Typo="Typo.body1">
        @Lang.Get("termsConditionsPageTitleSeverability"))
    </MudText>
</MudContainer>
